
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFF2D7;


.mvv-container{
  max-width: 90%;
  margin: 50px auto 0;
}

.mvv-container .mvv-block {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mvv-container .mvv-block .image{
  flex: 0 0 auto;
  width: 450px;
}

.mvv-container .mvv-block .image img {
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); */
}

.mvv-container .mvv-block .content {
  flex: 0 0 auto;
  width: calc(100% - 450px);
  box-sizing: border-box;
  align-self: center;
}

.content h3 {
  font-weight: 700;
  font-size: 2vw;
  color: blue;
  margin-bottom: 1vw;
}

.content p{
  font-size: 1.3vw;
}

@media screen and (min-width: 1024px) {
  .mvv-container .mvv-block:nth-child(odd) .image{
    order: 1;
  }
 
  .mvv-container .mvv-block:nth-child(even) .image {
    order: 2;
  }

  .mvv-container .mvv-block:nth-child(odd) .content{
    order: 2;
    padding-left: 30px;
  }
 
  .mvv-container .mvv-block:nth-child(even) .content {
    order: 1;
    padding-right: 30px;
  }
}

@media screen and (max-width: 499px){
  .mvv-container .mvv-block .image{
    flex: initial;
    width: 380px;
  }

  .mvv-container .mvv-block .content {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
  }

  .content h3 {
    font-weight: 700;
    font-size: 6vw;
    color: blue;
    margin-bottom: 1vw;
  }

  .content p{
    font-size: 3vw;
    text-align: justify;
  }
}

